body {
    background-color: rgb(29, 30, 31);
    color:rgb(70, 146, 40);
}

h1 {
  text-align: center;
  font-family: serif;
  font-size: 300%;
}

.form-group-1 {
    margin: auto;
  width: 20%;
  padding-bottom: 20px;
}

.form-group-2 {
    margin: auto;
  width: 15%;
  padding-bottom: 20px;
}

.form-group-3 {
    margin: auto;
    width: 8%;
   
}

th {
    width:500px;
}

td { 
    width:500px;
    text-align: center;
    font-size: 150%;
}